//
@use 'bootstrap';
header {
    nav {
        .logo_brand {
            img {
                width: 70px;
            }
        }
        .active {
            border-bottom: 3px solid blue;
        }
        a {
            height: 100%;
            color: #333;
            font-size: 14px;
            font-weight: 600;
            &:hover {
                background-color: rgb(167, 184, 240);
            }
        }
    }
}

main {
    .jumbotrone {
        img {
            max-width: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
            height: 530px;
            display: block;
        }
    }
    .cards {
        .container {
            padding: 2rem 0;
            position: relative;
            .current_series {
                font-weight: bold;
                border-radius: 5px;
                z-index: 10;
                top: 0;
                left: 0;
                transform: translate(0, -50%);
            }
            .row {
                padding: 0 1rem;
                img {
                    max-width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }
}

.banner {
    z-index: 10;
    .container {
        .row {
            padding: 3rem 1.5rem;
            .image {
                height: 50px;
            }
            .description {
                font-size: 14px;
            }
        }
    }
}

footer {
    .footer_top {
        background-image: url('../img/footer-bg.jpg');
        .container {
            .row {
                .col-4 {
                    padding-top: 2rem;
                }
            }
            .logo_dc {
                background-image: url('../img/dc-logo-bg.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            h3 {
                font-size: 14px;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }
            ul {
                padding: 0;
                list-style: none;
                li {
                    font-size: 14px;
                }
            }
        }
    }
    .footer_bottom {
        .icon_social {
            img {
                padding: 0 0.25rem;
            }
        }
    }
}